#=====================================
# Compilados e Binários
#=====================================
*.out
*.exe
*.o
*.obj

programa_bfs
programa_dfs
dijkstra
prim
kruskal

.vscode/

.DS_Store
thumbs.db
*.swp
*~
